{% extends 'base.html' %} {% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg mt-4 mb-4">
  {% include 'includes/alerts.html' %}
  <div class="container">
      <div class="row">
          <main class="col-md-9">
              <article class="card shadow">
                  <header class="card-header bg-primary text-white">
                      <h6 class="mb-0 text-white">Welcome, {{user.full_name}}</h6>
                  </header>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="card text-center">
                                  <div class="card-body">
                                      <h6 class="card-title">Total Orders</h6>
                                      <h6>{{orders_count}}</h6>
                                      <a href="{% url 'my_orders' %}" class="btn btn-primary mt-3">View Orders</a> <!-- Added mt-3 for spacing -->
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-6">
                              <div class="card text-center">
                                  <div class="card-body">
                                      <img src="{{userprofile.profile_picture.url}}" alt="User Profile picture" width="100" style="border-radius: 50%;">
                                      <h6 class="card-title mt-3">{{user.email}}</h6>
                                      <p>{{user.phone_number}}</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- row.// -->
                  </div>
                  <!-- card-body .// -->
              </article>
              <!-- order-group.// -->
          </main>
          {% include 'includes/dashboard_sidebar.html' %}
      </div>
      <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



{% endblock %}
