{% extends 'base.html' %} 
{% load static %} 
{% block content %}
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-12">
                  <div class="breadcrumbs-content">
                      <h1 class="page-title">Cart</h1>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                  <ul class="breadcrumb-nav">
                      <li><a href="{% url 'home' %}"><i class="lni lni-home"></i> Home</a></li>
                      <li><a href="{% url 'store' %}">Shop</a></li>
                      <li>Cart</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumbs -->



    <!-- Shopping Cart -->
    <div class="shopping-cart section">
      {% if not cart_items %}
      <!-- message  -->
      <div class="container alert alert-danger text-center" role="alert">
        Your shopping cart is empty!
      </div>
      <br />
      <div class="text-center">
        <a href="{% url 'store' %}" class="btn btn-primary"> Continue Shopping</a>
      </div>
      <br>
      {% else %}
      <div class="container">
          <div class="cart-list-head">
              <!-- Cart List Title -->
              <div class="cart-list-title">
                  <div class="row">
                      <div class="col-lg-1 col-md-1 col-12">

                      </div>
                      <div class="col-lg-4 col-md-3 col-12">
                          <p>Product Name</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>Quantity</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>Product Price</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>Discount</p>
                      </div>
                      <div class="col-lg-1 col-md-2 col-12">
                          <p>Remove</p>
                      </div>
                  </div>
              </div>
              <!-- End Cart List Title -->

              <!-- Cart Single List list -->
              {% for cart_item in cart_items %}
              <div class="cart-single-list">
                  <div class="row align-items-center">
                      <div class="col-lg-1 col-md-1 col-12">
                          <a href="{{ cart_item.product.get_url }}"><img src="{{cart_item.product.image.url}}" alt="product image"></a>
                      </div>
                      <div class="col-lg-4 col-md-3 col-12">
                          <h5 class="product-name"><a href="{{ cart_item.product.get_url }}">
                            {{cart_item.product.product_name}}</a></h5>
                          <p class="product-des">
                            {% if cart_item.variations.all %} 
                            {% for item in cart_item.variations.all %} 
                            {{item.variation_category |  capfirst}} : {{item.variation_value | capfirst}} <br />
                            {% endfor %} {% endif %}
                          </p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">

                        <div class="input-group input-spinner">
                        <div class="input-group-prepend">
                            <a
                            href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"
                            class="btn btn-light"
                            type="button"
                            id="button-plus"
                            >
                            <i class="fa fa-minus"></i>
                            </a>
                        </div>
                        <input
                            type="text"
                            class="form-control"
                            value="{{cart_item.quantity}}"
                        />
                        <div class="input-group-append">
                            <form
                            action="{% url 'add_cart' cart_item.product.id %}"
                            method="POST"
                            >
                            {% csrf_token %} 
                            {% for item in cart_item.variations.all %}
                            <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
                            {% endfor %}
                            <button
                            class="btn btn-light"
                            type="submit"
                            id="button-minus"
                            >
                            <i class="fa fa-plus"></i>
                            </button>
                            </form>
                        </div>
                    <!-- input-group.// -->
                  </div>

                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>${{cart_item.sub_total}}</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>{{cart_item.product.discount}}%</p>
                      </div>
                      <div class="col-lg-1 col-md-2 col-12">
                          <a class="remove-item" href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onclick="return confirm('Are you sure you want to delete this item?')"><i class="lni lni-close"></i></a>
                      </div>
                  </div>
              </div>
              {% endfor %}
              <!-- End Single List list -->

          </div>
          <div class="row">
              <div class="col-12">
                  <!-- Total Amount -->
                  <div class="total-amount">
                      <div class="row">
                          <div class="col-lg-8 col-md-6 col-12">
                              <div class="left">
                                  <div class="coupon">
                                      <form action="#" target="_blank">
                                          <input name="Coupon" placeholder="Enter Your Coupon">
                                          <div class="button">
                                              <button class="btn">Apply Coupon</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-12">
                              <div class="right">
                                  <ul>
                                      <li>Cart Subtotal<span>${{product_price}}</span></li>
                                      <li>Shipping<span>${{shipping_fee}}</span></li>
                                      <li>Disount<span>${{total_discount}}</span></li>
                                      <li>Tax<span>${{tax}}</span></li>
                                      <li class="last">You Pay<span>${{grand_total}}</span></li>
                                  </ul>
                                  <div class="button">
                                      <a href="{% url 'checkout' %}" class="btn">Checkout</a>
                                      <a href="{% url 'store' %}" class="btn btn-alt">Continue shopping</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/ End Total Amount -->
              </div>
          </div>
      </div>
  </div>
  {% endif %}
  <!--/ End Shopping Cart -->


{% endblock content%}
