{% extends 'base.html' %} 
{% load static %} 
{% block content %}

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-12">
                  <div class="breadcrumbs-content">
                      <h1 class="page-title">Single Product</h1>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                  <ul class="breadcrumb-nav">
                      <li><a href="{% url 'home' %}"><i class="lni lni-home"></i> Home</a></li>
                      <li><a href="{% url 'store' %}">Store</a></li>
                      <li>Single Product</li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
    <!-- End Breadcrumbs -->

        <!-- Start Item Details -->
        <section class="item-details section">
          <div class="container">
              <div class="top-area">
                  <div class="row align-items-center">

                    <div class="col-lg-6 col-md-12 col-12">
                      <div class="product-images">
                          <main id="gallery">
                              <div class="main-img">
                                  <img src="{{single_product.image.url}}" id="current" alt="#">
                              </div>
                              <div class="images">
                                {% for i in product_gallery %}
                                  <img src="{{i.image.url}}" class="img" alt="product image" onclick="changeImage(this)">
                                {% endfor %}
                              </div>
                          </main>
                      </div>
                  </div>


                  <div class="col-lg-6 col-md-12 col-12">
                    <form action="{% url 'add_cart' single_product.id %}" method="POST">
                        {% csrf_token %}

                    <div class="product-info">
                        <h2 class="title">{{single_product.product_name}}</h2>
                        <p class="category"><i class="lni lni-tag"></i> {{single_product.product_name}}<a href="{{single_product.get_url}}">{{single_product.product_name}}</a></p>           
                        <h3 class="price">${{single_product.price}}<span>$945</span></h3>
                        <p class="info-text">{{single_product.banner_description}}</p>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label for="color">Choose Color</label>
                                    <select name="color" class="form-control" id="color" required>
                                        <option value="" disabled selected>Choose Color</option>
                                        {% for i in single_product.variation_set.colors %}
                                        <option value="{{ i.variation_value | lower}}">
                                          {{ i.variation_value | capfirst }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group quantity">
                                    <label for="color">Select Size</label>
                                    <select name="size" class="form-control" required>
                                        <option value="" disabled selected>Choose Size</option>
                                        {% for i in single_product.variation_set.sizes %}
                                        <option value="{{ i.variation_value | lower}}">
                                          {{ i.variation_value | capfirst }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <!-- code goes here  -->
                                
                            </div>
                        </div>

                        <div class="bottom-content">
                            <div class="row align-items-end">
                                {% if single_product.stock <= 0 %}
                                <div class="alert alert-danger">
                                  <strong>Out of Stock!</strong>
                                </div>
                                {% else %}
                                
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="button cart-button">
                                        <button type="submit" class="btn" style="width: 100%;">Add to Cart</button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                    </form>
                        </div>
                    </div>
                </div>
                </div>
              </div>

              <div class="product-details-info">
                  <div class="single-block">
                      <div class="row">
                          <div class="col-lg-6 col-12">
                              <div class="info-body custom-responsive-margin">
                                  <h4>Details</h4>
                                  <p>{{single_product.description}}</p>
                                  <h4>Features</h4>
                                  <ul class="features">
                                    {% for feature in features_list %}
                                    <li>{{ feature }}</li>
                                    {% endfor %}
                                  </ul>
                              </div>
                          </div>
                          <div class="col-lg-6 col-12">
                              <div class="info-body">
                                  <h4>Specifications</h4>
                                  <ul class="normal-list">
                                    {% for spec in specification_list %}
                                    <li>{{ spec }}</li>
                                    {% endfor %}
                                  </ul>
                                  <h4>Shipping Options:</h4>
                                  <ul class="normal-list">
                                    {% for option in shipping_option_list %}
                                    <li>{{ option }}</li>
                                    {% endfor %}
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-4 col-12">
                          <div class="single-block give-review">
                              <h4>{{single_product.averageReview}} Overall</h4>
                              <div class="rating-star">
                                <span>
                                  <i
                                    class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}"
                                    aria-hidden="true"
                                  ></i>
                                  <i
                                    class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}"
                                    aria-hidden="true"
                                  ></i>
                                  <i
                                    class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}"
                                    aria-hidden="true"
                                  ></i>
                                  <i
                                    class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}"
                                    aria-hidden="true"
                                  ></i>
                                  <i
                                    class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}"
                                    aria-hidden="true"
                                  ></i>
                                  <span>{{single_product.countReview}} reviews</span>
                                </span>
                              </div>
                              <!-- Button trigger modal -->
                              <button type="button" class="btn review-btn" data-bs-toggle="modal"
                                  data-bs-target="#exampleModal">
                                  Leave a Review
                              </button>
                          </div>
                          <br>
                          {% include 'includes/alerts.html' %}
                      </div>
                      <div class="col-lg-8 col-12">
                          <div class="single-block">
                              <div class="reviews">
                                  <h4 class="title">Latest Reviews</h4>
                                  {% for review in reviews %}
                                  <!-- Start Single Review -->
                                  <div class="single-review">
                                      <img src="{%  static 'images/about/avatar.png'%}" alt="#">
                                      <div class="review-info">
                                          <h4>{{review.subject}}
                                              <span>{{review.user.full_name}}
                                              </span>
                                          </h4>
                                          <div class="rating-star">
                                            <span>
                                              <i
                                                class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                                                aria-hidden="true"
                                              ></i>
                                              <i
                                                class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                                                aria-hidden="true"
                                              ></i>
                                              <i
                                                class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                                                aria-hidden="true"
                                              ></i>
                                              <i
                                                class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                                                aria-hidden="true"
                                              ></i>
                                              <i
                                                class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                                                aria-hidden="true"
                                              ></i>
                                            </span>
                                          </div>
                                          <p>{{review.review}}</p>
                                      </div>
                                  </div>
                                  <!-- End Single Review -->
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- End Item Details -->

    <!-- Review Modal -->
    <div class="modal fade review-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
       <form action="{% url 'submit_review' single_product.id %}" method="POST">
        {% csrf_token %}
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="form-group">
                               <label for="review-subject">Subject</label>
                               <input class="form-control" type="text" id="review-subject" name="subject">
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="form-group">
                               <label for="review-rating">Rating</label>
                               <select name="rating" class="form-control" id="review-rating" required>
                                   <option value="5">5 Stars</option>
                                   <option value="4.5">4.5 Stars</option>
                                   <option value="4">4 Stars</option>
                                   <option value="3.5">3.5 Stars</option>
                                   <option value="3">3 Stars</option>
                                   <option value="2.5">2.5 Stars</option>
                                   <option value="2">2 Stars</option>
                                   <option value="1.5">1.5 Stars</option>
                                   <option value="1">1 Star</option>
                                   <option value="0.5">0.5 Star</option>
                               </select>
                           </div>
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="review-message">Review</label>
                       <textarea name="review" class="form-control" id="review-message" rows="8"></textarea>
                   </div>
               </div>
               <div class="modal-footer button">
                {% if user.is_authenticated %} {% if orderproduct %}
                   <button type="submit" class="btn">Submit Review</button>
                {% else %}
                    <p>You must purchase this product to post a review.</p>
                {% endif %}
                <br>
                {% else %}
                <p>You must be logged in to post a review.<span><a href="{% url 'login' %}">Login Now</a></span></p>
                {% endif %}
                <br>
               </div>
           </div>
       </div>
    </form>
    </div>
   <!-- End Review Modal -->

<script>
    function changeImage(element) {
        var mainImage = document.getElementById("current");
        mainImage.src = element.src;
    }
</script>

{% endblock %}
